# Operating on Data in Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0,10,4))

In [3]:
ser

0    6
1    3
2    7
3    4
dtype: int32

In [4]:
df = pd.DataFrame(rng.randint(0,10, (3,4)), columns=['A', 'B', 'C', 'D'])

In [5]:
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [7]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [8]:
np.sin(df * np.pi / 4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

### UFuncs: Index Alignment

In [16]:
area = pd.Series({'Alasks': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
area

Alasks        1723337
Texas          695662
California     423967
Name: area, dtype: int64

In [18]:
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
population

California    38332521
Texas         26448193
New York      19651127
Name: population, dtype: int64

In [20]:
population / area

Alasks              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [28]:
area.index

Index(['Alasks', 'Texas', 'California'], dtype='object')

In [29]:
area.index | population.index

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [30]:
A = pd.Series([2,4,6], index=[0,1,2])
B = pd.Series([1,3,5], index=[1,2,3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [31]:
A.add(B,fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

### Index Alignment in DataFrame

In [32]:
A = pd.DataFrame(rng.randint(0,20, (2,2)), columns=list('AB'))

In [33]:
A

   A   B
0  1  11
1  5   1

In [36]:
B = pd.DataFrame(rng.randint(0,10, (3,3)), columns=list('ABC'))
B

   A  B  C
0  4  0  9
1  5  8  0
2  9  2  6

In [37]:
A + B

      A     B   C
0   5.0  11.0 NaN
1  10.0   9.0 NaN
2   NaN   NaN NaN

In [40]:
fill = A.stack().mean()
fill

4.5

In [43]:
A.add(B, fill_value=fill)

      A     B     C
0   5.0  11.0  13.5
1  10.0   9.0   4.5
2  13.5   6.5  10.5

### Ufuncs: operations b/w dataframe and series

In [51]:
A = rng.randint(10, size=(3,4))

In [52]:
A

array([[1, 9, 8, 9],
       [4, 1, 3, 6],
       [7, 2, 0, 3]])

In [53]:
A - A[0]

array([[ 0,  0,  0,  0],
       [ 3, -8, -5, -3],
       [ 6, -7, -8, -6]])

In [54]:
df = pd.DataFrame(A, columns=list('QRST'))
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  3 -8 -5 -3
2  6 -7 -8 -6

In [56]:
df.subtract(df['R'], axis=0) # column wise subtraction

   Q  R  S  T
0 -8  0 -1  0
1  3  0  2  5
2  5  0 -2  1

In [58]:
df

   Q  R  S  T
0  1  9  8  9
1  4  1  3  6
2  7  2  0  3

In [59]:
halfrow = df.iloc[0, ::2]
halfrow

Q    1
S    8
Name: 0, dtype: int32

In [60]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1  3.0 NaN -5.0 NaN
2  6.0 NaN -8.0 NaN